<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Awh/Vogel Lab">
    <meta name="twitter:image" content="/files/images/lab_photo_2021.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script type="text/javascript" charset="utf8" src="js/jquery-3.6.0.slim.min.js"></script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              dom: '<ift>',
              language: {
                info: 'Showing _TOTAL_ entries'
              },
              paging: false,
              searching: true,
              order: [[1, 'desc']] // default ordering by Year
          });
       });
    </script>
    {% endif %}
  </head>
  <body>

    <section class='header'>
      <img src='/files/images/header.jpg'/>
    </section>

    <section class='navbar'>
      <ul>
        <a href='/'><li>Home</li></a>
        <a href='/people'><li>People</li></a>
        <a href='/publications'><li>Publications</li></a>
        <!-- <a href='/conferences'><li>Conferences</li></a> -->
        <a href='/participate'><li>Participate</li></a>
        <a href='/contact'><li>Contact</li></a>
      </ul>
    </section>

    {% if page.datatable == false %}
    <section class="main-content">
      {{ content }}
    </section>
    {% endif %}

    {% if page.datatable == true %}
    {{ content }}
    {% endif %}

  </body>
</html>
