<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <section class='header'>
      <img src='/files/images/header.jpg'/>
    </section>

    <section class='navbar'>
      <ul>
        <a href='/'><li>Home</li></a>
        <a href='/people'><li>People</li></a>
        <a href='/publications'><li>Publications</li></a>
        <a href='/participate'><li>Participate</li></a>
        <a href='/contact'><li>Contact</li></a>
      </ul>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
